/* Universal Styles */

html {
    font-family: Verdana, sans-serif;
    font-weight: 400;
    color: white;
    background-color: black;
    text-align: center;
    font-size: 16px;
}

.download {
    color: aquamarine;
    font-size: 1rem;
}

h1 {
    font-size: 3.125rem;
}

h2 {
    font-size: 2.625rem;
    font-weight: 300;
}

p {
    color: grey;
    font-size: 1.3125rem;
}

footer {
    text-align: right;
}
